

body {
    overflow: hidden;
    overflow-x: hidden;
    background: linear-gradient(to bottom right, #b8cfff, #fd6bff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Product Sans', sans-serif;
    color: rgb(83, 0, 151);
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards;
}

a {
    text-decoration: none;
    color: rgb(107, 0, 150);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 50px;
    box-sizing: border-box;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-item {
    margin: 0 15px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 30px);
    margin-bottom: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 30px;
}

.heading-group {
    margin-bottom: 30px;
}

h1 {
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    text-shadow: 5px 3px 8px rgba(255, 255, 255, 0.575);
}

p {
    font-size: 30px;
    text-align: left;
    margin-top: 0;
    background: none;
    text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
}

img {
    transition: all .2s ease-in-out; 
    width: 700px;
}

img:hover { transform: scale(1.1); }

span { transition: all .2s ease-in-out; }

span:hover { 
    transform: scale(1.1); }

/* Mobile styles under */

@media (max-width: 620px) {
    .nav-items {
        margin-left: 30vh;
        display: none;
        flex-direction: column;
        align-items: left;
        position: absolute;
        top: 100%;
        left: 0;
        width: 300px;
        background-color: rgb(224, 241, 255);
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }
    
    .nav-items.show {
        display: flex;
    }
    
    .nav-item {
        margin: 10px 0;
    }
    
    .navbar-toggle {
        margin-left: 30vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        cursor: pointer;
    }
    
    .navbar-toggle span {
        width: 30px;
        height: 3px;
        background-color: rgb(107, 0, 150);
        margin-bottom: 5px;
    }
    .heading-group {
        margin-top: 75px;
        margin-left: 20px;
    }
    .main {

        flex-direction: column;
        align-items: center;
        margin-top: 75px;
    }
    
    .content {
        margin-right: 0;
        text-align: center;
    }
    
    img {
        width: 100%;
    }
}
